<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitz.studio.indianrailways"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-sdk android:minSdkVersion="9"
        android:targetSdkVersion="23"
        android:maxSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="Indian Railways">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PNRStatus"
            android:label="PNR Status"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
        </activity>

        <activity android:name=".PNRStatusDisplay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="PNR Status">
        </activity>

        <activity android:name=".TrainLiveStatus"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="Train Live Status">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
        </activity>

        <activity android:name=".TrainRoute"
            android:label="Train Route"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
        </activity>

        <activity android:name=".SearchTrain"
            android:label="Search Train"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".FareEnquiry"
            android:label="Fare Enquiry"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".SeatAvail"
            android:label="Seat Availability"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".LiveStation"
            android:label="Train Arriving at Station"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".IRCTCBooking"
            android:label="IRCTC Booking"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".CancelledTrain"
            android:label="Cancelled Trains"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".RescheduledTrain"
            android:label="Rescheduled Train"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>

        <activity android:name=".DivertedTrain"
            android:label="Diverted Trains"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>
        <activity android:name=".FogTrain"
            android:label="Fog Affected Train"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>
        <activity android:name=".SpecialTrain"
            android:label="Special Trains"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nitz.studio.indianrailways.MainActivity" />
            </activity>
        <activity android:name=".PNRHistory"
            android:label="PNR History"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
